*{
    padding: 0pt;
    margin: 0pt;
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    
}

header{
    background-image: url(../GEO/bradcam.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}


#menu{
    padding: 50px 0;
}

header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle ;
}

header #menu ul #logo{
    margin-right: 500px;
    margin-left: 40px;
}

#text {
    width: 800px;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }

  h1{
    text-align: center;
  }

text{
    margin: 0 auto
    width: 1400px
}
button{
    background-color: #1d767c;
    border: 0;
    border-radius: 3px;
    color:white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 30px 0;
}
button:hover{
    background-color:#093033;
}

#main-container header main .image{   
    text-align: right;
    width: 700px;
}
.layout{
    width: 1280px;
    margin: 250px auto;
}

#main-container .section .layout div{
    display: inline-block;

    }

#main-container .section .layout h3{
    font-size: 48px;
    padding: 25px 0;
}

#main-container .section .layout p{
    padding: 25px 0;
    line-height: 32px;
}

#main-container .section .layout-left .text{
    width: 500px;
}

#main-container .section .layout-left .image{
    width: 770px;
    text-align: right;
}

#main-container .section .layout-right .text{
    width: 500px;
}

#main-container .section .layout-right .image{
    width: 770px;
    text-align: center;
}


h3{
    text-align: middle;
}




footer{
    background-color: black;
    color: white;
    padding: 100px 20px;
    text-align: center;
}
    




